div{
  background-color: rgba(237, 190, 96, 0.548);
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}
.home-button {
  background-color: rgba(231, 109, 188, 0.632);
  
}
.Description{
  font-size: large;
  text-align: center;
  background-color: aquamarine;
}
.list,
.home-button,
.Description,
.get-started,
div{
  font-family: Verdana,'DejaVu Sans','sans-serif';
}
.heading,
#title{
  font-family: 'Courier New', Courier, monospace;
}
#title {
  font-size: 56px;
  text-align: center;
  background-color: rgba(96, 195, 220, 0.646);
}
.get-started,
#main-list{
  font-size: x-large;
  font-weight: bold;
}